<!DOCTYPE html>
<html>
<head>
    <title>Minecraft Manager</title>
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
</head>
<body>
    <div class="header">
        <h1>Welcome to Minecraft Manager</h1>
    </div>
    <nav class="navbar">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/">Users</a>
        <a class="nav-link" href="/ban">Ban</a>
        <a class="nav-link" href="/unban">Unban</a>
        <a class="nav-link" href="/shout">Shout</a>
        <a class="nav-link" href="/">Server Admin</a>
        <a class="nav-link" href="/">Logs</a>
    </nav>
        {{ template "content"  . }}

</body>
</html>
